.general-section__body {
  display: flex;
  flex-direction: column;
}
.general-section__main {
  width: 100%;
  margin-bottom: 4rem;
}
.general-section__title {
  color: #0979f5;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 600;
  letter-spacing: 0.025em;
  font-size: calc(30px + 25 * ((100vw - 320px) / 1120));
}
.general-section__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 6rem;
}
.general-section__iteminner {
  display: flex;
  flex-direction: column;
}
.general-section__boxing {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}
.general-section__boxing img {
  display: block;
  max-width: 100%;
}
.general-section__img {
  margin-right: 1.875rem;
}
.general-section__img img {
  display: block;
  max-width: 100%;
}
.general-section__textblock {
  display: flex;
  flex-direction: row;
}
.general-section__textitem {
  width: 50%;
}
.general-section__subtitle {
  color: #0979f5;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 500;
  font-size: calc(30px + 12 * ((100vw - 320px) / 1120));
  margin-bottom: 2rem;
}
.general-section__text {
  color: #26292e;
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 1.7em;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
}
.general-section__margin {
  margin-bottom: 2.5rem;
}
.general-section__margin:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .general-section__main {
    margin-bottom: 2rem;
  }

  .general-section__item {
    margin-bottom: 6rem;
  }

  .general-section__img {
    margin-bottom: 2rem;
  }

  .general-section__img {
    margin-right: 0;
  }

  .general-section__boxing {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .general-section__textitem {
    width: 100%;
  }

  .general-section__textblock {
    flex-direction: column;
  }

  .general-section__margin {
    margin-bottom: 1.5rem;
  }
}
.fullpage-photo img {
  height: 100%;
  width: 100%;
}