.table-section__body {
  display: flex;
  flex-direction: column;
}
.table-section__main {
  width: 100%;
}
.table-section__innermain {
  margin-bottom: 3rem;
}
.table-section__innermain:last-child {
  margin-bottom: 0;
}
.table-section__title {
  color: #0979f5;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 600;
  letter-spacing: 0.025em;
  font-size: calc(30px + 25 * ((100vw - 320px) / 1120));
}
.table-section__textblock {
  display: flex;
}
.table-section__textinner {
  width: 50%;
  color: #26292e;
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 1.7em;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
}
.table-section__text {
  margin-bottom: 2.5rem;
}
.table-section__text:last-child {
  margin-bottom: 0;
}
.table-section__table {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(174, 174, 174, 0.7);
  border-left: 1px solid rgba(174, 174, 174, 0.7);
  border-right: 1px solid rgba(174, 174, 174, 0.7);
}
.table-section__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.table-section__item2 {
  max-width: 100%;
  border-bottom: 1px solid rgba(174, 174, 174, 0.7);
}
.table-section__item2:last-child {
  border-bottom: 0px solid rgba(174, 174, 174, 0.7);
}
.table-section__iteminner2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.75rem 0;
}
.table-section__header {
  padding: 1.5rem 0;
  background-color: #0979f5;
}
.table-section__subtext {
  padding-left: 1.875rem;
}
.table-section__num {
  color: #ffffff;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 500;
  font-size: calc(30px + 12 * ((100vw - 320px) / 1120));
  flex: 0 0 15%;
}
.table-section__descrip {
  color: #ffffff;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 500;
  font-size: calc(30px + 12 * ((100vw - 320px) / 1120));
  flex: 0 0 85%;
}
.table-section__time {
  flex: 0 0 15%;
  padding-top: 1.875rem;
  color: #0979f5;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 500;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1120));
  padding-left: 1.875rem;
}
.table-section__add {
  flex: 0 0 85%;
  padding: 1.875rem 0;
  color: #26292e;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
  height: 100%;
  border-bottom: 1px solid rgba(174, 174, 174, 0.7);
  position: relative;
}
.table-section__time2 {
  margin-bottom: 0.5rem;
  color: #0979f5;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 500;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1120));
}
.table-section__add2 {
  color: #26292e;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
}

@media screen and (max-width: 991px) {
  .table-section__textinner {
    width: 100%;
  }

  .table-section__innermain {
    margin-bottom: 2rem;
  }

  .table-section__text {
    margin-bottom: 1.5rem;
  }

  .table-section__time {
    padding-left: 1.5rem;
  }
}
@media screen and (max-width: 769px) {
  .table-section__descrip {
    padding-left: 1.5rem;
  }

  .table-section__main .container2 {
    max-width: 100%;
    padding: 0;
  }

  .table-section__item {
    flex-direction: column;
  }

  .table-section__add {
    border: 0;
  }

  .table-section__item {
    border-bottom: 1px solid rgba(174, 174, 174, 0.7);
  }

  .table-section__add {
    padding: 1.875rem 1.5rem;
  }

  .table-section__add2 {
    text-align: center;
    padding: 0 1.5rem;
  }
}